@page
@model Site.Pages.Company.AboutModel
@{
    ViewData["Title"] = "About";
}

<section>
    <h1 style="margin-top:110px;">A propos d'Mon Site</h1>
    <div>Mon Site est une toute nouvelle société qui développe, dans son bureau d'étude.</div>
    <div>Vous pouvez nous retrouver dans nos locaux.</div>
    <div>Ou bien nous contacter en vous dirigeant sur la page <a asp-area="" asp-page="/Contact">Contact</a>.</div>

    <h2 style="margin-top:20px;">A propos d'Mon Site 2</h2>
    <div>Mon Site 2 est une usine.</div>
    <div>Vous trouverez plus d'informations en allant sur son site dédié <a href="http://www.google.fr/" target="_blank" style="display:inline-block;">d'Mon Site 2</a></div>
</section>