@page
@model Site.Pages.Company.ContactSuccessModel
@{
}
<h1 style="margin-top:110px;">Prise en charge réussi !</h1>
<div class="message order-success">
    <h2>Merci de nous avoir contactés !</h2>
    <p>Votre message à bien été envoyé, nous reprendrons contact avec vous dans les plus brefs délais</p>
</div>