@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Données personnelles";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h4>@ViewData["Title"]</h4>

<div class="row">
    <div class="col-md-6">
        <p>Votre compte contient des informations personnelles que vous nous avez transmises. Cette page vous permet de télécharger ou de supprimer ces données.</p>
        <p>
            <strong>Supprimer ces données supprimera votre compte définitivement, impossible de le récuperer par la suite.</strong>
        </p>
        <form id="download-data" asp-page="DownloadPersonalData" method="post" class="form-group">
            <button class="btn btn-primary" type="submit">Télécharger</button>
        </form>
        <p>
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-secondary">Supprimer</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
