@page
@model Site.Pages_Question.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1 style="margin-top:110px;">Supprimer</h1>

<h3>Etes vous sûr de vouloir supprimer cette question ?</h3>
<div>
    <h4>Question</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Question.question)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Question.question)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Question.reponse)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Question.reponse)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Question.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Retour à la liste</a>
    </form>
</div>
