@page
@model ConfirmEmailChangeModel
@{
    ViewData["Title"] = "Confirmer votre changement d'email";
}

<h1 style="margin-top:110px;">@ViewData["Title"]</h1>
<partial name="_StatusMessage" model="Model.StatusMessage" />