@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Confirmation d'inscription";
}

<h1 style="margin-top:110px;">@ViewData["Title"]</h1>
Veuillez vérifier vos emails pour confirmer votre compte.
