@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Confirmation réinitialisation du mot de passe";
}

<h1 style="margin-top:110px;">@ViewData["Title"]</h1>
<p>
    Votre mot de passe a été réinitialisé. <a asp-page="./Login">Cliquer ici pour vous connecter</a>.
</p>
