@page
@model Site.Pages.Order.CommandeSuccessModel
@{
}

<div class="text-center" style="margin-top:110px;">
    <h1 class="display-4">Merci pour votre commande !</h1>
</div>
<div class="text-center" style="margin-top:20px;">
    <h5>Votre commande à bien été pris en compte !</h5>
    <div>Vous allez recevoir un mail avec la facture de votre commande.</div>
    <div>Vous pouvez suivre à tout moment l'état de votre commande dans votre compte client dans l'onglet <a
            href="~/Identity/Account/Manage/CommandeList">Commande</a></div>
    <div>Nous vous remercions pour votre confiance et à très bientôt</div>
</div>