@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1 style="margin-top:110px;">@ViewData["Title"]</h1>

<div>Nous respectons et protégeons vos données</div>
<div>Toutes les données utilisateurs que nous utilisons sont exclusivement des données fournies par l'utilisateur.</div>
<div>Pour consulter les informations que nous détenons sur votre compte client, vous pouvez les télécharger en allant dans l'onglet <a href="~/Identity/Account/Manage/PersonalData">Données personnelles</a> de votre compte client.</div>